In [1]:
import xml.etree.ElementTree as et 
import pandas as pd
import glob
from jinja2 import Environment, FileSystemLoader
pd.set_option('display.max_colwidth', 0)

In [2]:
arquivos = glob.glob("atp_xml/*.xml")
arquivos = pd.Series(arquivos, name='A').unique()
dfLinhasBanco = pd.read_csv('LinhasPOA.csv',encoding='latin-1',sep=';')

In [109]:
rows = []
count =0
for arquivoXml in arquivos[0:10]:
    count = count + 1
    print('Processando arquivo {} > ({} de {}): '.format(arquivoXml,count,len(glob.glob("atp_xml/*.xml"))))    
    xtree = et.parse(arquivoXml)
    xroot = xtree.getroot()
    for node in xroot:         
        if node.attrib.get("empresa") != None:        
            empresa = node.attrib.get("empresa")
            numeroLinha = node.attrib.get("numeroLinha")        
            tipoDia = node.attrib.get("tipoDia")
            codigo = node.attrib.get("codigo")
            data = node.attrib.get("data")
            dia = data[6:10]
            mes = data[4:6]
            ano = data[0:4]
                        
            linha = dfLinhasBanco['LD_DESC'][dfLinhasBanco['LD_DESCSHORT']==numeroLinha][0:1].item()
                        
            
            for item in xroot.findall('itens'):
                for node in item.findall('item'):
                    tabela = node.get('tabela')
                    sentido = node.get('sentido')
                    horaSaida = node.get('horaSaida')
                    horaChegada = node.get('horaChegada')
                    tabela = node.get('tabela')
                    
                    produtivo = node.get('produtivo')
                    
                    if produtivo == '1':
                        #print(produtivo)
                        rows.append({"empresa": empresa,'data':data,'dia':dia,'mes':mes,
                                 'ano':ano,"numeroLinha": numeroLinha,"linha": linha,                                
                                 "tipoDia": tipoDia,"codigo": codigo,"tabela": tabela,
                                 "sentido": sentido,'horaSaida':horaSaida,'horaChegada':horaChegada})
                    
                    out_df = pd.DataFrame(rows)

Processando arquivo atp_xml/20200423_114316_316.xml > (1 de 227):
Processando arquivo atp_xml/20200423_132253_984.xml > (2 de 227):
Processando arquivo atp_xml/20200423_171601_302.xml > (3 de 227):
Processando arquivo atp_xml/20200423_132253_953.xml > (4 de 227):
Processando arquivo atp_xml/20200423_114316_706.xml > (5 de 227):
Processando arquivo atp_xml/20200423_161032_748.xml > (6 de 227):
Processando arquivo atp_xml/20200423_132150_132.xml > (7 de 227):
Processando arquivo atp_xml/20200423_161034_043.xml > (8 de 227):
Processando arquivo atp_xml/20200423_171600_460.xml > (9 de 227):
Processando arquivo atp_xml/20200423_171557_620.xml > (10 de 227):

In [110]:
empresas = out_df['empresa'].unique()
display(empresas)
datas = out_df['data'].unique()
display(datas)
print(out_df['data'].count())

array(['CMOB', 'CAR', 'VSUL', 'MAIS', 'CVLT'], dtype=object)

array(['20200424'], dtype=object)

533

In [111]:
out_df['sentido'] = out_df['sentido'].apply(lambda x: x.replace('I','Centro - Bairro').replace('V','Bairro - Centro'))
out_df['empresa_full'] = out_df['empresa'].apply(lambda x: x.replace('CAR','CARRIS').replace('CMOB','MOB').replace('CVLT','Via Leste').replace('MAIS','Mais').replace('VSUL','Viva Sul'))

In [112]:
'2015'[:2]

'20'

In [113]:
def formatTime(x):
    x = x.replace('::',':')
    
    
    if str(x) not in (':'):        
        x = (x[:2]+':'+x[2:])
        
    return(x.replace('::',':'))

In [114]:
out_df['horaSaida'] = out_df['horaSaida'].apply(lambda x: formatTime(x))
out_df['horaSaidaHora'] = out_df['horaSaida'].apply(lambda x: x[:2])
out_df['horaSaidaMinuto'] = out_df['horaSaida'].apply(lambda x: x[3:])

In [115]:
#ordenar as colunas
out_df = out_df.sort_values(by=['horaSaidaHora','horaSaidaMinuto'])
display(out_df.head(3))

,empresa,data,dia,mes,ano,numeroLinha,linha,tipoDia,codigo,tabela,sentido,horaSaida,horaChegada,empresa_full,horaSaidaHora,horaSaidaMinuto
482,VSUL,20200424,24,04,2020,262,JARDIM V. NOVA,1,M1,262/103,Bairro - Centro,00:00,00:40,Viva Sul,00,00
415,VSUL,20200424,24,04,2020,262,JARDIM V. NOVA,1,M1,262/001,Centro - Bairro,05:00,05:40,Viva Sul,05,00
127,VSUL,20200424,24,04,2020,2682,BELEM NOVO C DO SOL GEDEON,1,M1,268/002,Centro - Bairro,05:20,06:25,Viva Sul,05,20

In [140]:
dfGrp = out_df[['empresa','dia', 'mes', 'ano', 'numeroLinha', 'linha','sentido', 'horaSaida','empresa_full']]
out_df = out_df.drop_duplicates()

In [141]:
dfGrp.head(4)

,empresa,dia,mes,ano,numeroLinha,linha,sentido,horaSaida,empresa_full
482,VSUL,24,04,2020,262,JARDIM V. NOVA,Bairro - Centro,00:00,Viva Sul
415,VSUL,24,04,2020,262,JARDIM V. NOVA,Centro - Bairro,05:00,Viva Sul
127,VSUL,24,04,2020,2682,BELEM NOVO C DO SOL GEDEON,Centro - Bairro,05:20,Viva Sul
425,VSUL,24,04,2020,262,JARDIM V. NOVA,Centro - Bairro,05:30,Viva Sul

In [142]:
dfGrp2 = dfGrp.groupby(['empresa','dia', 'mes', 'ano', 'numeroLinha', 'linha','sentido','empresa_full'])['horaSaida'].apply(lambda x: "%s" % ' '.join(x))

In [143]:
dfGrp2 = pd.DataFrame(dfGrp2)
dfGrp2 = dfGrp2.reset_index()
print(dfGrp2.columns)
dfGrp2 = dfGrp2[['empresa','dia', 'mes', 'ano', 'numeroLinha', 'linha','sentido','horaSaida','empresa_full']]
dfGrp2 = dfGrp2.drop_duplicates()

Index(['empresa', 'dia', 'mes', 'ano', 'numeroLinha', 'linha', 'sentido',
       'empresa_full', 'horaSaida'],
      dtype='object')

In [144]:
def unique(sequence):
    seen = set()
    return [x for x in sequence if not (x in seen or seen.add(x))]

In [145]:
#transforma os horarios em array
dfGrp2['horaSaidaArr'] = dfGrp2['horaSaida'].apply(lambda x: list(map(str, str(x).split())))
#elimina duplicados
dfGrp2['horaSaidaArr'] = dfGrp2['horaSaidaArr'].apply(lambda x: unique(x))
#faz com que o array vire novamente uma string com espaços entre os horários
dfGrp2['horaSaidaUnique'] = dfGrp2['horaSaidaArr'].apply(lambda x: "%s" % ' '.join(x))

In [152]:
dfGrp2 = dfGrp2[['empresa','empresa_full','linha','dia','mes','ano','numeroLinha','sentido','horaSaidaUnique']]
dfGrp2 = dfGrp2.sort_values(['empresa','ano','mes','dia','numeroLinha','sentido'],ascending=[True,True,True,True,True,False])

,empresa,empresa_full,linha,dia,mes,ano,numeroLinha,sentido,horaSaidaUnique
1,CAR,CARRIS,CAMPUS IPIRANGA,24,04,2020,343,Centro - Bairro,05:40 06:00 06:15 06:29 06:42 06:52 06:55 07:02 07:10 07:16 07:25 07:39 07:40 07:53 08:05 08:08 08:23 08:31 08:38 08:53 08:58 09:11 09:23 09:29 09:47 09:50 10:05 10:17 10:23 10:41 10:44 10:59 11:11 11:17 11:35 11:38 11:53 12:05 12:11 12:29 12:32 12:46 12:58 13:02 13:18 13:25 13:34 13:52 14:10 14:19 14:28 14:46 15:04 15:13 15:22 15:40 16:00 16:07 16:20 16:34 16:40 16:50 17:00 17:02 17:20 17:30 17:40 17:50 18:00 18:20 18:30 18:40 19:00 19:10 19:20 19:50 20:07 20:30 20:57 21:47 22:12 23:00
0,CAR,CARRIS,CAMPUS IPIRANGA,24,04,2020,343,Bairro - Centro,05:40 05:50 05:55 06:00 06:18 06:20 06:30 06:39 06:41 06:49 06:58 07:04 07:15 07:29 07:30 07:45 07:54 07:58 08:11 08:19 08:26 08:41 08:44 08:56 09:11 09:14 09:33 09:38 09:53 10:05 10:13 10:31 10:32 10:49 10:59 11:07 11:25 11:26 11:43 11:53 12:01 12:19 12:20 12:37 12:47 12:55 13:13 13:14 13:30 13:41 13:45 14:01 14:08 14:17 14:35 14:53 15:02 15:11 15:29 15:47 15:56 16:06 16:24 16:25 16:43 16:52 17:01 17:19 17:22 17:37 17:52 17:55 18:00 18:11 18:29 18:30 18:49 18:55 19:10 19:33 19:50 19:58 20:28 20:30 21:08 21:59 22:49 23:13
3,CMOB,MOB,RUBEM BERTA/SERTORIO,24,04,2020,762,Centro - Bairro,06:33 06:55 07:17 07:39 08:01 08:23 08:45 09:07 09:29 09:51 10:13 10:35 10:57 11:19 11:41 12:03 12:25 12:47 13:12 13:37 14:02 14:27 14:52 15:17 15:42 16:07 16:32 16:57 17:22 17:47 18:12 18:39
2,CMOB,MOB,RUBEM BERTA/SERTORIO,24,04,2020,762,Bairro - Centro,07:17 07:41 08:03 08:25 08:47 09:09 09:31 09:53 10:15 10:37 10:59 11:21 11:43 12:05 12:27 12:47 13:09 13:31 13:56 14:21 14:46 15:11 15:36 16:01 16:26 16:51 17:16 17:41 18:06 18:30 18:55 19:22
5,CMOB,MOB,NOVA GLEBA/CAIRU,24,04,2020,821,Centro - Bairro,06:07 06:35 07:03 07:31 07:59 08:27 08:55 09:23 09:51 10:19 10:47 11:15 11:43 12:11 12:39 13:07 13:35 14:03 14:31 14:59 15:27 15:55 16:23 16:51 17:19 17:47 18:15 18:43 19:11
4,CMOB,MOB,NOVA GLEBA/CAIRU,24,04,2020,821,Bairro - Centro,06:47 07:15 07:43 08:11 08:39 09:07 09:35 10:03 10:31 10:59 11:27 11:55 12:23 12:51 13:19 13:47 14:15 14:43 15:11 15:39 16:07 16:35 17:03 17:31 17:59 18:27 18:55 19:23 19:51
7,CVLT,Via Leste,PROT/IGUAT/CANANEIA,24,04,2020,4291,Centro - Bairro,07:10 07:45 12:40 13:25 17:52 19:10
6,CVLT,Via Leste,PROT/IGUAT/CANANEIA,24,04,2020,4291,Bairro - Centro,06:26 07:13 12:37 16:44 17:29 18:34
9,MAIS,Mais,PINHEIRO VIA VICOSA,24,04,2020,3984,Centro - Bairro,05:50 06:38 07:10 07:46 08:40 09:52 11:05 11:50 12:50 13:50 14:30 15:34 16:20 17:33 18:25 19:40 20:45 22:50
8,MAIS,Mais,PINHEIRO VIA VICOSA,24,04,2020,3984,Bairro - Centro,06:58 07:42 08:18 09:12 10:24 11:25 12:20 13:20 14:20 15:40 16:54 17:40 18:10 18:40 19:42 20:50 21:50
11,VSUL,Viva Sul,ICARAI,24,04,2020,149,Centro - Bairro,05:40 06:15 06:50 07:25 08:10 08:45 09:10 09:45 10:20 10:55 11:30 12:05 12:40 13:15 13:50 14:25 15:00 15:35 16:10 16:45 17:20 18:00 18:40 19:20
10,VSUL,Viva Sul,ICARAI,24,04,2020,149,Bairro - Centro,06:10 06:45 07:20 07:55 08:40 09:15 09:40 10:15 10:50 11:25 12:00 12:35 13:10 13:45 14:20 14:55 15:30 16:05 16:40 17:15 17:50 18:30 19:10 19:50
13,VSUL,Viva Sul,JARDIM V. NOVA,24,04,2020,262,Centro - Bairro,05:00 05:30 06:00 06:30 06:45 07:00 07:28 07:56 08:24 08:52 09:20 09:48 10:16 10:44 11:12 11:40 12:08 12:36 13:04 13:32 14:00 14:28 14:56 15:24 15:52 16:20 16:48 17:16 17:44 18:12 18:40 19:20 20:00 21:00 22:00 23:20
12,VSUL,Viva Sul,JARDIM V. NOVA,24,04,2020,262,Bairro - Centro,00:00 05:42 06:12 06:42 07:12 07:30 07:42 08:10 08:38 09:06 09:34 10:02 10:30 10:58 11:26 11:54 12:22 12:50 13:18 13:46 14:14 14:42 15:10 15:38 16:06 16:34 17:02 17:30 17:58 18:26 18:54 19:22 20:02 20:42 21:40 22:40
15,VSUL,Viva Sul,BELEM NOVO C DO SOL GEDEON,24,04,2020,2682,Centro - Bairro,05:20 10:25
14,VSUL,Viva Sul,BELEM NOVO C DO SOL GEDEON,24,04,2020,2682,Bairro - Centro,06:25

In [153]:
rows=[]
for index,rowItem in dfGrp2.iterrows():
    item = dict(empresa=rowItem['empresa'],
                empresa_full=rowItem['empresa_full'],
                 dia=rowItem['dia'],
                 mes=rowItem['mes'],
                 ano=rowItem['ano'],
                 numeroLinha=rowItem['numeroLinha'],
                 linha=rowItem['linha'],
                 sentido=rowItem['sentido'],
                 horaSaida=rowItem['horaSaidaUnique'])
    rows.append(item)

In [154]:
print('Total Rows:',len(rows))

Total Rows: 16

In [155]:
for emp in empresas:
    rowPerEmp = []
    nomeEmpresa = ''
    rowsN = rows.copy()
    for dat in datas:
        #print(dat)        
        for row in rowsN:
            anoMesDia = row['ano']+row['mes']+row['dia']
            
            if (row['empresa'] == emp) & (dat == anoMesDia):
                rowPerEmp.append(row)            
                nomeEmpresa = row['empresa_full']
        
        env = Environment(loader=FileSystemLoader('.'))
        template = env.get_template("template.html")
        template_vars = {"empresa" : nomeEmpresa,"rows":rowPerEmp,"tamanhoLetraCampos":14}    
        html_out = template.render(template_vars)
        f= open('./LinhasATP_'+ emp + "_"+dat +".html","w+",encoding="utf-8")
        f.write(html_out)
        f.close()